

<div class="jumbotron jumbotron-fluid row-desktop">
  <div class="row-12 font-color">

      <div class="col-3"></div>


      <div class="col-3" style="text-align:left"></div>

      <b>Facilidade!</b><br/>

      Na lello você encontra tudo o que precisa para alugar seu imóvel comercial<br/><br/>

      <div class="col-3"></div>


      <div class="col-3"></div>

  </div>


  <div class="row font-conf font-color">

        <div class="col-3"></div>
      
      
        <div class="col-2">


        <img src="assets/icons/investimento.png" class="card-img" alt="...">
        <br/>

        <b>Oportunidade de investimento comercial</b><br/>

        O mercado imobiliario acompanha o crescimento da cidade, nos preocupamos em oferecer os melhores imoveis
        comerciais em lugares estrategicamente localizados para seu negócio<br/><br/>

        <a href="/">Alugue imóveis comerciais com desconto</a>
          
        </div>
      
        <div class="col-2">
        
        <img src="assets/icons/clientes.png" class="card-img" alt="...">
        <br/>
        <b>Fique mais perto de seus clientes </b><br/>
        
        Nossa atuação visa proporcionar o melhor atendimento para a locação e vendas de casa, lojas, salas e salões
        que atendam suas necessidades e amplie seu relacionamento com os clientes<br/><br/>

        <a href="/">Alugue imóveis comerciais para pequenos negócios</a>

        </div>

        <div class="col-2">

        <img src="assets/icons/negocios.png" class="card-img" alt="...">
        <br/>
        <b>Faça mais pelo seu negócio</b><br/>

        Explore novas possilidades com Lello Imóveis, confira as principais opcões para alugar e comprar,
        sobrados e até mesmo prédios comerciais para sediar sua empresa<br/><br/>

        <a href="/">Alugue imóveis comerciais para ampliar o negócio</a>

        </div>

  </div>
</div>


<div class="jumbotron jumbotron-fluid row-mobile">
    <div class="row font-color font-conf">
      <div class="col-12">
      <b>Facilidade!</b><br/>
      Na lello você encontra tudo o que precisa para alugar seu imóvel comercial<br/><br/>
      </div>
    </div>

    <div class="row font-color">
      <div class="col-12">
        <section class="carousel" aria-label="Gallery">
          <ol class="carousel__viewport">
            <li id="carousel__slide1"
                tabindex="0"
                class="carousel__slide">
                <div class="carousel__snapper">

                    <img src="assets/icons/investimento.png" class="card-img" alt="...">
                    <br/>
            
                    <b>Oportunidade de investimento comercial</b><br/>
            
                    O mercado imobiliario acompanha o crescimento da cidade, nos preocupamos em oferecer os melhores imoveis
                    comerciais em lugares estrategicamente localizados para seu negócio<br/><br/>
            
                    <a href="/">Alugue imóveis comerciais com desconto</a>

                </div>
            </li>
            <li id="carousel__slide2"
                tabindex="0"
                class="carousel__slide">
              <div class="carousel__snapper">

                  <img src="assets/icons/clientes.png" class="card-img" alt="...">
                  <br/>
                  <b>Fique mais perto de seus clientes </b><br/>
                  
                  Nossa atuação visa proporcionar o melhor atendimento para a locação e vendas de casa, lojas, salas e salões
                  que atendam suas necessidades e amplie seu relacionamento com os clientes <br/><br/>
          
                  <a href="/">Alugue imóveis comerciais para pequenos negócios</a>

              </div>
            </li>
            <li id="carousel__slide3"
                tabindex="0"
                class="carousel__slide">
              <div class="carousel__snapper">

                  <img src="assets/icons/negocios.png" class="card-img" alt="...">
                  <br/>
                  <b>Faça mais pelo seu negócio</b><br/>
          
                  Explore novas possilidades com Lello Imóveis, confira as principais opcões para alugar e comprar,
                  sobrados e até mesmo prédios comerciais para sediar sua empresa<br/><br/>
          
                  <a href="/">Alugue imóveis comerciais para ampliar o negócio</a>

              </div>
            </li>
          </ol>
          <aside class="carousel__navigation">
            <ol class="carousel__navigation-list">
              <li class="carousel__navigation-item">
                <a href="#carousel__slide1"
                  class="carousel__navigation-button">Go to slide 1</a>
              </li>
              <li class="carousel__navigation-item">
                <a href="#carousel__slide2"
                  class="carousel__navigation-button">Go to slide 2</a>
              </li>
              <li class="carousel__navigation-item">
                <a href="#carousel__slide3"
                  class="carousel__navigation-button">Go to slide 3</a>
              </li>
            </ol>
          </aside>
        </section>
      </div>
  </div>
</div>
