.font-conf{

    text-align: center;
    text-decoration-style: solid;
}

.navbar {
    position: center;
    display: -ms-flexbox;
    display: block;
    flex-direction: none;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;

}