<div class="jumbotron jumbotron-fluid">


  <div class="row-desktop">
    <div class="row font-color">
      <div class="col-3"></div>

      <div class="col-6">
        <p>
          <b>Bairros comerciais mais procurados em São Paulo</b>
        </p>
      </div>


      <div class="col-3"></div>
    </div>


    <div class="row font-conf font-color">

      <div class="col-3"></div>
        
      <div class="col-3">
          Imóveis comerciais para alugar na mocca<br/>
          Andar comercial para alugar no Jardins<br/>
          Área / Terreno comercial para alugar na Consolação<br/>
          Casa comercial para alugar na Vila Madalena<br/>
          Edificio comercial para alugar na Vila Madalena<br/>
      </div>

      <div class="col-3">
        Galpão/Armazém comercial para alugar em Perdizes<br/>
        Loja comercial para alugar em Perdizes<br/>
        Loja Shopping comercial para alugar em Moema<br/>
        Prédio comercial para alugar em pinheiros<br/>
        Sala / Conjunto comercial para alugar em Itaim Bibi<br/>
      </div>

      <div class="col-3"></div>
    </div>
  </div>




  <div class="row-mobile">
      <div class="row font-color">
  
        <div class="col-12">
            <h1>Bairros comerciais mais procurados em São Paulo</h1>
        </div>

      </div>
      <br/>
      <div class="row font-conf-mobile font-color">
  
          <div class="col-12 text-left">
              Imóveis comerciais para alugar na mocca<br/>
              Andar comercial para alugar no Jardins<br/>
              Área / Terreno comercial para alugar na Consolação<br/>
              Casa comercial para alugar na Vila Madalena<br/>
              Edificio comercial para alugar na Vila Madalena<br/>
              Galpão/Armazém comercial para alugar em Perdizes<br/>
              Loja comercial para alugar em Perdizes<br/>
              Loja Shopping comercial para alugar em Moema<br/>
              Prédio comercial para alugar em pinheiros<br/>
              Sala / Conjunto comercial para alugar em Itaim Bibi<br/>
            </div>
            
      </div>
    </div>



</div>