
<div class="row row-desktop upper-config">

  <div class="col-3">
  </div>

  <div class="col-6">
    <div class="align-center">
      <div class="row">
        <div class="col mb-3">
          <div class="card">
            <img src="assets/icons/salas.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title">Salas Comerciais</h6>
              <p class="card-text">Monte escritórios inteligentes</p>
              <button type="button" class="btn btn-outline-secondary">Quero Alugar</button>
            </div>
          </div>
        </div>
        <div class="col mb-3">
          <div class="card">
            <img src="assets/icons/casas.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title">Casas Comercias</h6>
              <p class="card-text">Oportunidade para seu negócio</p>
              <button type="button" class="btn btn-outline-secondary">Quero Alugar</button>
            </div>
          </div>
        </div>
        <div class="col mb-3">
          <div class="card">
              <img src="assets/icons/lojas.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title">Salões e lojas</h6>
              <p class="card-text">Aumente o seu <br/> comércio</p>
              <button type="button" class="btn btn-outline-secondary">Quero Alugar</button>
            </div>
          </div>
        </div>
        <div class="col mb-3">
          <div class="card">
              <img src="assets/icons/galpoes.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title">Galpões/Armazéns</h6>
              <p class="card-text">Para expandir sua <br/> atuação</p>
              <button type="button" class="btn btn-outline-secondary">Quero Alugar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-3">
  </div>

</div>


<div class="row row-mobile padding-config">
    <div class="col-12">
      
    <div class="horizontal-scroll-wrapper squares">
        <div class="card">
            <img src="assets/icons/salas.png" class="card-img" alt="...">
            <div class="card-body">
              <h6 class="card-title">Salas Comerciais</h6>
              <p class="card-text">Monte escritórios inteligentes</p>
              <button type="button" class="btn btn-outline-secondary">Quero Alugar</button>
            </div>
          </div>
        <div class="card">
            <img src="assets/icons/casas.png" class="card-img" alt="...">
            <div class="card-body">
              <h6 class="card-title">Casas Comercias</h6>
              <p class="card-text">Oportunidade para seu negócio</p>
              <button type="button" class="btn btn-outline-secondary">Quero Alugar</button>
            </div>
          </div>
          <div class="card">
              <img src="assets/icons/lojas.png" class="card-img" alt="...">
            <div class="card-body">
              <h6 class="card-title">Salões e lojas</h6>
              <p class="card-text">Aumente o seu <br/> comércio</p>
              <button type="button" class="btn btn-outline-secondary">Quero Alugar</button>
            </div>
          </div>
          <div class="card">
              <img src="assets/icons/galpoes.png" class="card-img" alt="...">
            <div class="card-body">
              <h6 class="card-title">Galpões/Armazéns</h6>
              <p class="card-text">Para expandir sua <br/> atuação</p>
              <button type="button" class="btn btn-outline-secondary">Quero Alugar</button>
            </div>
          </div>
      </div>

    </div>

</div>