
<div class="row row-desktop upper-config">

  <div class="col-3">
  </div>

  <div class="col-6">
    <div class="align-center">
      <div class="row">
        <div class="col col-sm-6 col-md-6 col-lg-3 mb-3">
          <div class="card">
            <img src="assets/icons/salas.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title">Salas Comerciais</h6>
              <p class="card-text">Monte escritórios inteligentes</p>
              <button type="button" class="btn btn-outline-secondary">Quero Alugar</button>
            </div>
          </div>
        </div>
        <div class="col col-sm-6 col-md-6 col-lg-3 mb-3">
          <div class="card">
            <img src="assets/icons/casas.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title">Casas Comercias</h6>
              <p class="card-text">Oportunidade para seu negócio</p>
              <button type="button" class="btn btn-outline-secondary">Quero Alugar</button>
            </div>
          </div>
        </div>
        <div class="col col-sm-6 col-md-6 col-lg-3 mb-3">
          <div class="card">
              <img src="assets/icons/lojas.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title">Salões e lojas</h6>
              <p class="card-text">Aumente o seu <br/> comércio</p>
              <button type="button" class="btn btn-outline-secondary">Quero Alugar</button>
            </div>
          </div>
        </div>
        <div class="col col-sm-6 col-md-6 col-lg-3 mb-3">
          <div class="card">
              <img src="assets/icons/galpoes.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title">Armazéns</h6>
              <p class="card-text">Para expandir sua <br/> atuação</p>
              <button type="button" class="btn btn-outline-secondary">Quero Alugar</button>
            </div>
          </div>
        </div>
        <div class="col-12 text-right">
          <a href="/">ver todos</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-3">
  </div>

</div>


<div class="padding-config row-mobile">
  <div class="row font-color font-conf">
    <div class="col-12">
    <h1><b>Confira alguns Imovéis para empreendedores</b></h1><br/><br/>
    </div>
  </div>

  <div class="row font-color">
    <div class="col-12">
      <section class="carousel" aria-label="Gallery">
        <ol class="carousel__viewport">
          <li id="carousel__slide1"
              tabindex="0"
              class="carousel__slide">
              <div class="carousel__snapper">
                <div class="card"><br/>
                  <img src="assets/icons/salas.png" class="card-img" alt="...">
                  <div class="card-body">
                    <h6 class="card-title">Salas Comerciais</h6>
                    <p class="card-text">Monte escritórios inteligentes</p>
                    <button type="button" class="btn btn-outline-secondary">Quero Alugar</button>
                  </div>
                </div>
              </div>
          </li>
          <li id="carousel__slide2"
              tabindex="0"
              class="carousel__slide">
            <div class="carousel__snapper">
              <div class="card"><br/>
                <img src="assets/icons/casas.png" class="card-img" alt="...">
                <div class="card-body">
                  <h6 class="card-title">Casas Comercias</h6>
                  <p class="card-text">Oportunidade para seu negócio</p>
                  <button type="button" class="btn btn-outline-secondary">Quero Alugar</button>
                </div>
              </div>
            </div>
          </li>
          <li id="carousel__slide3"
              tabindex="0"
              class="carousel__slide">
            <div class="carousel__snapper">
              <div class="card">
                  <img src="assets/icons/lojas.png" class="card-img" alt="...">
                <div class="card-body">
                  <h6 class="card-title">Salões e lojas</h6>
                  <p class="card-text">Aumente o seu <br/> comércio</p>
                  <button type="button" class="btn btn-outline-secondary">Quero Alugar</button>
                </div>
              </div>
            </div>
          </li>
          <li id="carousel__slide4"
              tabindex="0"
              class="carousel__slide">
            <div class="carousel__snapper">
              <div class="card">
                  <img src="assets/icons/galpoes.png" class="card-img" alt="...">
                <div class="card-body">
                  <h6 class="card-title">Galpões/Armazéns</h6>
                  <p class="card-text">Para expandir sua <br/> atuação</p>
                  <button type="button" class="btn btn-outline-secondary">Quero Alugar</button>
                </div>
              </div>
            </div>
          </li>
        </ol>
      </section>
    </div>
</div>
</div>