<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div style="text-align:center">
    <app-top></app-top>
    <div class="jumbotron jumbotron-fluid ">
      <div class="">
        
          <h2> Os melhores imóveis comerciais</h2><h3>para alugar em São Paulo</h3><br/>
        
          <app-search></app-search>

          <app-switch></app-switch>

      </div>
    </div>

  <app-cards></app-cards>
  <app-team></app-team>
  <app-content></app-content>
  <app-advertise></app-advertise>
  <app-links></app-links>
  <app-footer></app-footer>


</div>

