
<div class="padding-config">

  
  <div class="row-12">

      <p>Você quer ver imovéis comerciais para :</p>

  </div>

    
  <div class="align-margin">

        <div class="col-centered onoffswitch">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox " id="myonoffswitch" checked>
            <label class="onoffswitch-label" for="myonoffswitch">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch" ></span>
            </label>
        </div>

  </div>

</div>



<!--

    <div class="col-4"></div>

    <div class="col-4">

        <div class="col-centered onoffswitch">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox " id="myonoffswitch" checked>
            <label class="onoffswitch-label" for="myonoffswitch">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch" ></span>
            </label>
        </div>
    </div>

    <div class="col-4"></div>
-->


