@media (max-width: 600px) {
    .row-desktop{display: none;}

}
@media (min-width: 600px) {
    .row-mobile{display: none;}

}
.btn-outline-secondary {
    color: #000000;
    border-color: #000000;
}

.form-control {
    color: #000000;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #000000;
    border-radius: 0rem;
}
.btn {
    border-radius: 0rem;
}

.btn-outline-secondary[_ngcontent-c2] {
    color: #fff;
    border-color: #000000;
    background: #6c757d;
}

.btn-outline-secondary[_ngcontent-c2]:hover {
    color:#fff!important;
    background: #000000!important;
}