
<div class="row-desktop">
  <div class="row">

    <div class="col-4">
    </div>

    <div class="col-4">
        <div class="input-group">
            <input type="text" class="form-control" aria-label="Text input with segmented dropdown button">
            <div class="input-group-append">
              <button type="button" class="btn btn-outline-secondary btn-desktop">Encontrar</button>
            </div>
          </div>
    </div>

    <div class="col-4">
    </div>
    
  </div>

</div>

<div class="row-mobile">


    <div class="row">

        <div class="col-4">
        </div>
        
        <div class="col-4">
            <div class="input-group">
                <input type="text" class="form-control" aria-label="Text input with segmented dropdown button">
              </div>
        </div>
        
        <div class="col-4">
        </div>
        
    </div>

    <div class="row">

        <div class="col-4">
        </div>
        
        <div class="col-4">
  
          <div class=""><br/>
            <button type="button" class="btn btn-outline-secondary btn-mobile center">Encontrar</button>
          </div>
        </div>
        
        <div class="col-4">
        </div>
        
    </div>
      
    
    


</div>
