<div class="padding-config">

<!-- Desktop -->
<div class="row row-desktop">

  <div class="col-3"></div>

  <div class="col-3 font-conf font-color">

    <p>
      <b>Lello sempre ao seu lado! </b><br/>
      Aqui damos todo o apoio para você não ter trabalho para alugar o melhor imóvel comercial
    </p>

    <div class="row mb-2">
        <div class="col-3">
            <img src="assets/images/perfil.png" class="card-img-perfil" alt="...">
        </div>

        <div class="col-9">
            <b>Equipe Especializada</b><br/>
            Atendimento personalizado
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">
            <img src="assets/images/perfil.png" class="card-img-perfil" alt="...">
        </div>

        <div class="col-9 ">
            <b>Apoio Jurídico</b><br/>
            Acompanhamos toda transação
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">
            <img src="assets/images/perfil.png" class="card-img-perfil" alt="...">
        </div>

        <div class="col-9">
            <b>Locação Rápida</b><br/>
            Sem burocracias
        </div>
    </div>
  </div>

  <div class="col-3">
      <img src="assets/images/tela.png" class="card-img" alt="...">
    </div>

  <div class="col-3"></div>
</div>

<!-- Mobile -->
<div class="row row-mobile">

    <div class="col-12 font-conf font-color">
  
    <p>
      <b>Lello sempre ao seu lado! </b><br/>
      Aqui damos todo o apoio para você não ter trabalho para alugar o melhor imóvel comercial
    </p>

    <div class="row mb-2 font-conf-perfil">
        <div class="col-2">
            <img src="assets/images/perfil.png" class="card-img-perfil" alt="...">
        </div>

        <div class="col-10">
            <b>Equipe Especializada</b><br/>
            Atendimento personalizado
        </div>
    </div>

    <div class="row mb-2 font-conf-perfil">
        <div class="col-2">
            <img src="assets/images/perfil.png" class="card-img-perfil" alt="...">
        </div>

        <div class="col-10">
            <b>Apoio Jurídico</b><br/>
            Acompanhamos toda transação
        </div>
    </div>

    <div class="row mb-2 font-conf-perfil">
        <div class="col-2">
            <img src="assets/images/perfil.png" class="card-img-perfil" alt="...">
        </div>

        <div class="col-10">
            <b>Locação Rápida</b><br/>
            Sem burocracias
        </div>
    </div>


          
    </div>
  
  </div>

<br/><br/>

<button class="btn btn-secondary" type="button">Ver imóveis comerciais para alugar</button>

</div>